/* khan */

.khan {
  position: relative;
  background-color: #f2f2f2;
  margin-top: 100px;
}

.khan__container {
  width: 80%;
  margin: auto;
  padding-top: 105px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  padding-top: 50px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  padding-top: 36px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  padding-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  padding-top: 68px;
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  padding-right: 48px;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
