/* video */

.video {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  margin-bottom: -60px;
}

.video__iframes {
  display: flex;
  justify-content: center;
}

.video__iframe {
  padding: 50px 20px 0 0;
}
