/* footer */
.footer {
  min-height: 350px;
  background-color: #000;
  position: relative;
  margin-top: -60px;
}

.footer__columns {
  width: 90%;
  margin: auto;
  padding: 60px 0 40px 0;
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
}

.footer__column_content_copyright {
  width: 50%;
  display: flex;
}

.footer__logo_place img {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  bottom: 0;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_about {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__column-link a {
  text-decoration: none;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__column-list a {
  color: white;
  background-color: #1f1f1f;
}
