/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  /* parameters for the header section */
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.logo_place_header {
  width: 154px;
  height: 31px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  width: 730px;
  display: flex;
  align-items: center;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 288px;
  margin-left: 64px;
  margin-bottom: 30px;
  bottom: 0;
}

.header__link {
  position: absolute;
  bottom: 0;
  margin-left: 64px;
}

a {
  text-decoration: none;
}

.header__main-ilustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  margin-top: 64px;
  position: absolute;
  right: 0;
}

.header__square-pic_rotation {
  transform: rotate(-15deg);
  animation: loader 20s linear infinite;
}
